html {
  font-size: 14pt;
}

body {
  background-color: cadetblue;
  color: white;
  height: 100vh;
}

#addNewTaskSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#theToDoSection {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#theDoneTaskSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done {
  text-decoration: line-through;
}

@media screen and (min-width: 600px) {

  #addNewTaskSection {
    margin-top: 50px;
  }
  h3 {
    margin: 0;
  }

  #taskSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
  }

  #theToDoSection {
    margin-top: 50px;
    padding: 0;
  }
  
  #theDoneTaskSection {
    margin-top: 50px;
    padding: 0;
  }
}